### Necessary libraries

In [3]:
from bson import ObjectId
from pprint import pprint
import pandas as pd

#### very active minutes cleaned

In [ ]:
df_vam = pd.read_csv('very_active_minutes_expanded.csv')

df_vam = df_vam.drop(columns=['type'])
df_vam['dateTime'] = pd.to_datetime(df_vam['dateTime'], format='%m/%d/%y %H:%M:%S').dt.date
df_vam = df_vam.rename(columns={'dateTime': 'date', 'value': 'very_active_minutes'})
df_vam.head()

                         id        date  very_active_minutes
0  621e2e8e67b776a24055b564  2021-05-26                   31
1  621e2e8e67b776a24055b564  2021-06-11                   45
2  621e2e8e67b776a24055b564  2021-06-27                   20
3  621e2e8e67b776a24055b564  2021-07-13                   33
4  621e2e8e67b776a24055b564  2021-07-29                   65

#### sleep cleaned

In [9]:
df_sleep = pd.read_csv('sleep_expanded.csv')

df_sleep['date'] = pd.to_datetime(df_sleep['dateOfSleep']).dt.date
df_sleep_clean = df_sleep[[
    'id', 'date', 'duration', 'minutesToFallAsleep', 'minutesAsleep',
    'minutesAwake', 'minutesAfterWakeup', 'timeInBed', 'efficiency'
]]
df_sleep_clean = df_sleep_clean.groupby(['id', 'date']).mean().reset_index()

df_sleep_clean.head()

,id,date,duration,minutesToFallAsleep,minutesAsleep,minutesAwake,minutesAfterWakeup,timeInBed,efficiency
0,621e2e8e67b776a24055b564,2021-05-24,31260000.0,0.0,445.0,76.0,0.0,521.0,93.0
1,621e2e8e67b776a24055b564,2021-05-25,32880000.0,0.0,460.0,88.0,0.0,548.0,94.0
2,621e2e8e67b776a24055b564,2021-05-26,33600000.0,0.0,493.0,67.0,0.0,560.0,96.0
3,621e2e8e67b776a24055b564,2021-05-27,37620000.0,0.0,540.0,87.0,0.0,627.0,93.0
4,621e2e8e67b776a24055b564,2021-05-28,33660000.0,0.0,493.0,68.0,0.0,561.0,94.0