In [11]:
import pandas as pd

### Steps

In [14]:
df = pd.read_csv('steps_expanded.csv')

df = df.drop(columns=['type'])
df['dateTime'] = pd.to_datetime(df['dateTime']).dt.date
df = df.rename(columns={'dateTime': 'date', 'value': 'total_steps'})
df = df.groupby(['id', 'date'], as_index=False)['total_steps'].sum()
df.head()

                         id        date  total_steps
0  621e2e8e67b776a24055b564  2021-05-24         8833
1  621e2e8e67b776a24055b564  2021-05-25         9727
2  621e2e8e67b776a24055b564  2021-05-26         8253
3  621e2e8e67b776a24055b564  2021-05-27         9015
4  621e2e8e67b776a24055b564  2021-05-28        12949

### Resting Heart Rate

In [ ]:
df = pd.read_csv('resting_heart_rate_expanded.csv')

df = df.drop(columns=['type', 'dateTime'])
df = df.rename(columns={'value': 'resting_heart_rate'})
df.head()

                         id      date  resting_heart_rate     error
0  621e2e8e67b776a24055b564  06/07/21           59.557202  6.787087
1  621e2e8e67b776a24055b564  06/19/21           59.549614  6.880783
2  621e2e8e67b776a24055b564  07/01/21           57.763995  6.787087
3  621e2e8e67b776a24055b564  07/13/21           57.361768  6.787273
4  621e2e8e67b776a24055b564  07/25/21           60.995687  6.787087

### Daily Heart Rate Variability Summary

In [ ]:
df = pd.read_csv('daily_hrv_summary_expanded.csv')

df['dateTime'] = pd.to_datetime(df['timestamp']).dt.date
df = df.drop(columns=['type', 'timestamp'])
df = df.rename(columns={'dateTime': 'date'})
df.head()

                         id    rmssd  nremhr  entropy        date
0  621e2e8e67b776a24055b564   89.941  57.314    3.143  2021-05-29
1  621e2e8e67b776a24055b564  122.089  53.976    3.370  2021-06-07
2  621e2e8e67b776a24055b564  113.970  53.006    3.226  2021-06-22
3  621e2e8e67b776a24055b564  104.583  55.044    3.353  2021-07-01
4  621e2e8e67b776a24055b564   97.882  56.134    3.522  2021-07-11